Repository graycoreio/daffodil: changes, and which Codecov flags are due for each by the changed paths.
All: category, core

feat(category): add description field to the category (#705)
  libs/category/src/drivers/magento/models/category.ts
  libs/category/src/drivers/magento/queries/get-category.ts
  libs/category/src/drivers/magento/transformers/category-transformer.service.spec.ts
  libs/category/src/drivers/magento/transformers/category-transformer.service.ts
  libs/category/src/models/category.ts
  libs/category/testing/src/factories/category.factory.spec.ts
  libs/category/testing/src/factories/category.factory.ts
Due: category

make a transformer class into pure functions
  libs/category/src/drivers/magento/category.service.ts
  libs/category/src/drivers/magento/transformers/custom-metadata-attributes-methods.spec.ts
  libs/category/src/drivers/magento/transformers/custom-metadata-attributes-methods.ts
  libs/category/src/drivers/magento/transformers/custom-metadata-attributes-transformer.service.ts
Due: category

move where the custom metadata attributes are retrieved
  libs/category/src/drivers/magento/category.service.ts
  libs/category/src/drivers/magento/transformers/custom-metadata-attributes-methods.ts
Due: category

fix build
  libs/category/src/drivers/magento/transformers/custom-metadata-attributes-methods.spec.ts
Due: category

chore(release): 0.4.13
  docs/CHANGELOG.md
  lerna.json
  package-lock.json
  package.json
Due: none

feat(category): coerce Magento product attribute input types to DaffCategoryFilter types (#704)
  libs/category/src/drivers/magento/category.service.ts
  libs/category/src/drivers/magento/models/aggregation.ts
  libs/category/src/drivers/magento/models/custom-attribute-metadata-response.ts
  libs/category/src/drivers/magento/models/requests/custom-metadata-attribute.ts
  libs/category/src/drivers/magento/queries/custom-attribute-metadata.ts
  libs/category/src/drivers/magento/transformers/category-page-config-transformer.service.spec.ts
  libs/category/src/drivers/magento/transformers/category-page-config-transformer.service.ts
  libs/category/src/drivers/magento/transformers/custom-metadata-attributes-methods.spec.ts
  libs/category/src/drivers/magento/transformers/custom-metadata-attributes-methods.ts
Due: category

bug(category): fix bug where multiple values of a filter were not being set properly
  libs/category/src/actions/category.actions.ts
  libs/category/src/drivers/magento/models/requests/filters.ts
  libs/category/src/drivers/magento/transformers/applied-filter-transformer.service.spec.ts
  libs/category/src/drivers/magento/transformers/applied-filter-transformer.service.ts
  libs/category/src/effects/category.effects.spec.ts
  libs/category/src/effects/category.effects.ts
  libs/category/src/facades/category.facade.ts
  libs/category/src/index.ts
  libs/category/src/models/requests/category-request.ts
  libs/category/src/models/requests/filter-action.ts
  libs/category/src/models/requests/filter-request.ts
  libs/category/src/reducers/category/category.reducer.spec.ts
  libs/category/src/reducers/category/category.reducer.ts
Due: category

toggle filter models and methods
  libs/category/src/actions/category.actions.ts
  libs/category/src/effects/category.effects.spec.ts
  libs/category/src/effects/category.effects.ts
  libs/category/src/models/requests/filter-request.ts
  libs/category/src/reducers/category/category.reducer.spec.ts
  libs/category/src/reducers/category/category.reducer.ts
  libs/category/src/reducers/category/toggle-filter/core.ts
  libs/category/src/reducers/category/toggle-filter/equal.ts
  libs/category/src/reducers/category/toggle-filter/match.ts
  libs/category/src/reducers/category/toggle-filter/range.ts
  libs/category/src/reducers/category/toggle-filter/util.ts
Due: category

bug(category): fix bug where multiple values of a particular filter were not being set properly (#703)
  libs/category/src/actions/category.actions.ts
  libs/category/src/drivers/magento/models/requests/filters.ts
  libs/category/src/drivers/magento/transformers/applied-filter-transformer.service.spec.ts
  libs/category/src/drivers/magento/transformers/applied-filter-transformer.service.ts
  libs/category/src/effects/category.effects.spec.ts
  libs/category/src/effects/category.effects.ts
  libs/category/src/facades/category.facade.ts
  libs/category/src/index.ts
  libs/category/src/models/requests/category-request.ts
  libs/category/src/models/requests/filter-action.ts
  libs/category/src/models/requests/filter-request.ts
  libs/category/src/reducers/category/category.reducer.spec.ts
  libs/category/src/reducers/category/category.reducer.ts
  libs/category/src/reducers/category/toggle-filter/core.ts
  libs/category/src/reducers/category/toggle-filter/equal.ts
  libs/category/src/reducers/category/toggle-filter/match.ts
  libs/category/src/reducers/category/toggle-filter/range.ts
  libs/category/src/reducers/category/toggle-filter/util.ts
Due: category

feat(cart): add image and abridged_description to the cart item
  libs/cart/src/drivers/magento/transforms/outputs/cart-item.service.spec.ts
  libs/cart/src/drivers/magento/transforms/outputs/cart-item.service.ts
Due: none

chore(release): 0.4.14
  docs/CHANGELOG.md
  lerna.json
  package-lock.json
  package.json
Due: none

remove description and abridged_description from cart item
  libs/cart/src/drivers/magento/transforms/outputs/cart-item.service.spec.ts
  libs/cart/src/drivers/magento/transforms/outputs/cart-item.service.ts
  libs/cart/src/models/cart-item.ts
  libs/cart/testing/src/factories/cart-item.factory.spec.ts
  libs/cart/testing/src/factories/cart-item.factory.ts
Due: none

feat(cart): add image and abridged_description to the cart item (#706)
  libs/cart/src/drivers/magento/transforms/outputs/cart-item.service.spec.ts
  libs/cart/src/drivers/magento/transforms/outputs/cart-item.service.ts
  libs/cart/src/models/cart-item.ts
  libs/cart/testing/src/factories/cart-item.factory.spec.ts
  libs/cart/testing/src/factories/cart-item.factory.ts
Due: none

bug(cart): fix bug where clearing an empty cart failed
  libs/cart/src/drivers/magento/cart.service.spec.ts
  libs/cart/src/drivers/magento/cart.service.ts
Due: none

remove unnecessary git status
  libs/cart/src/drivers/magento/cart.service.ts
Due: none

bug(category): fix bug where the category price filter values would be in the wrong format from magento
  libs/category/src/drivers/magento/transformers/category-page-config-transformer.service.spec.ts
  libs/category/src/drivers/magento/transformers/category-page-config-transformer.service.ts
Due: category

tnp
  libs/cart/src/drivers/magento/cart-billing-address.service.spec.ts
  libs/cart/src/drivers/magento/cart-billing-address.service.ts
  libs/cart/src/drivers/magento/cart-item.service.spec.ts
  libs/cart/src/drivers/magento/cart-item.service.ts
  libs/cart/src/drivers/magento/cart-payment-methods.service.spec.ts
  libs/cart/src/drivers/magento/cart-payment-methods.service.ts
  libs/cart/src/drivers/magento/cart-payment.service.spec.ts
  libs/cart/src/drivers/magento/cart-payment.service.ts
  libs/cart/src/drivers/magento/cart-shipping-address.service.spec.ts
  libs/cart/src/drivers/magento/cart-shipping-address.service.ts
  libs/cart/src/drivers/magento/cart-shipping-information.service.spec.ts
  libs/cart/src/drivers/magento/cart-shipping-information.service.ts
  libs/cart/src/drivers/magento/cart-shipping-methods.service.spec.ts
  libs/cart/src/drivers/magento/cart-shipping-methods.service.ts
  libs/cart/src/drivers/magento/cart.service.spec.ts
  libs/cart/src/drivers/magento/cart.service.ts
  libs/cart/src/drivers/magento/models/outputs/public_api.ts
  libs/cart/src/drivers/magento/models/responses/public_api.ts
  libs/cart/src/drivers/magento/public_api.ts
  libs/cart/src/drivers/magento/queries/add-cart-item.ts
  libs/cart/src/drivers/magento/queries/fragments/public_api.ts
  libs/cart/src/drivers/magento/queries/get-billing-address.ts
  libs/cart/src/drivers/magento/queries/get-cart.ts
  libs/cart/src/drivers/magento/queries/get-selected-payment-method.ts
  libs/cart/src/drivers/magento/queries/get-selected-shipping-method.ts
  libs/cart/src/drivers/magento/queries/get-shipping-address.ts
  libs/cart/src/drivers/magento/queries/list-cart-items.ts
  libs/cart/src/drivers/magento/queries/list-payment-methods.ts
  libs/cart/src/drivers/magento/queries/list-shipping-methods.ts
  libs/cart/src/drivers/magento/queries/public_api.ts
  libs/cart/src/drivers/magento/queries/remove-cart-item.ts
  libs/cart/src/drivers/magento/queries/set-selected-payment-method.ts
  libs/cart/src/drivers/magento/queries/set-selected-shipping-method.ts
  libs/cart/src/drivers/magento/queries/update-billing-address.ts
  libs/cart/src/drivers/magento/queries/update-cart-item.ts
  libs/cart/src/drivers/magento/queries/update-shipping-address.ts
  libs/cart/src/drivers/public_api.ts
Due: none

fix(cart): return proper types to accommodate cart with no items (#707)
  libs/cart/src/drivers/magento/cart.service.spec.ts
  libs/cart/src/drivers/magento/cart.service.ts
Due: none

feat(core): add error storage service
  libs/core/src/storage/error/error.service.spec.ts
  libs/core/src/storage/error/error.service.ts
  libs/core/src/storage/public_api.ts
Due: core

feat(cart): add DaffCartStorageFailure action
  libs/cart/src/actions/cart.actions.ts
Due: none

feat(cart): catch storage errors in cart effects
  libs/cart/src/effects/cart.effects.spec.ts
  libs/cart/src/effects/cart.effects.ts
Due: none

feat(core): create custom error type
  libs/core/src/storage/error/error.service.ts
  libs/core/src/storage/error/error.ts
  libs/core/src/storage/public_api.ts
Due: core

feat(core, cart): inject persistence service with token
  libs/cart/src/storage/cart-storage.service.ts
  libs/core/src/storage/persistence.interface.ts
  libs/core/src/storage/public_api.ts
Due: core

feat(cart): check for error type in effects
  libs/cart/src/effects/cart.effects.spec.ts
  libs/cart/src/effects/cart.effects.ts
Due: none

a change
  libs/category/src/drivers/magento/transformers/category-page-config-transformer.service.ts
Due: category

bug(category): fix bug where the category price filter values would b… (#708)
  libs/category/src/drivers/magento/transformers/category-page-config-transformer.service.spec.ts
  libs/category/src/drivers/magento/transformers/category-page-config-transformer.service.ts
Due: category

test(core): add DaffPersistenceServiceToken spec
  libs/core/src/storage/persistence.interface.spec.ts
Due: core

feat(core, cart): add core storage service, catch storage errors in cart during SSR (#710)
  libs/cart/src/actions/cart.actions.ts
  libs/cart/src/effects/cart.effects.spec.ts
  libs/cart/src/effects/cart.effects.ts
  libs/cart/src/storage/cart-storage.service.ts
  libs/core/src/storage/error/error.service.spec.ts
  libs/core/src/storage/error/error.service.ts
  libs/core/src/storage/error/error.ts
  libs/core/src/storage/persistence.interface.spec.ts
  libs/core/src/storage/persistence.interface.ts
  libs/core/src/storage/public_api.ts
Due: core

chore(release): 0.4.15
  docs/CHANGELOG.md
  lerna.json
  package-lock.json
  package.json
Due: none

feat(category): change filter models
  libs/category/src/actions/category.actions.ts
  libs/category/src/drivers/magento/category.service.ts
  libs/category/src/drivers/magento/transformers/applied-filter-transformer.service.spec.ts
  libs/category/src/drivers/magento/transformers/applied-filter-transformer.service.ts
  libs/category/src/drivers/magento/transformers/category-page-config-transformer.service.spec.ts
  libs/category/src/drivers/magento/transformers/category-page-config-transformer.service.ts
  libs/category/src/drivers/magento/transformers/category-response-transform.service.spec.ts
  libs/category/src/drivers/magento/transformers/custom-metadata-attributes-methods.spec.ts
  libs/category/src/effects/category.effects.spec.ts
  libs/category/src/effects/category.effects.ts
  libs/category/src/facades/category.facade.spec.ts
  libs/category/src/facades/category.facade.ts
  libs/category/src/index.ts
  libs/category/src/models/category-applied-filter.ts
  libs/category/src/models/category-filter-base.ts
  libs/category/src/models/category-filter.ts
  libs/category/src/models/category-page-configuration-state.ts
  libs/category/src/models/requests/category-request.ts
  libs/category/src/models/requests/filter-request.ts
  libs/category/src/reducers/category/category.reducer.spec.ts
  libs/category/src/reducers/category/category.reducer.ts
  libs/category/src/reducers/category/toggle-filter/core.ts
  libs/category/src/reducers/category/toggle-filter/equal.ts
  libs/category/src/reducers/category/toggle-filter/match.ts
  libs/category/src/reducers/category/toggle-filter/range.ts
  libs/category/src/selectors/category.selector.spec.ts
  libs/category/src/selectors/category.selector.ts
  libs/category/testing/src/factories/category-page-configuration-state.factory.spec.ts
  libs/category/testing/src/factories/category-page-configuration-state.factory.ts
Due: category

feat(category): add applied filter model and selector
  libs/category/src/facades/category.facade.ts
  libs/category/src/index.ts
  libs/category/src/selectors/applied-filter/applied-filter-methods.spec.ts
  libs/category/src/selectors/applied-filter/applied-filter-methods.ts
  libs/category/src/selectors/category.selector.spec.ts
  libs/category/src/selectors/category.selector.ts
Due: category

fix tests
  libs/category/src/facades/category.facade.spec.ts
Due: category

remove unneeded code
  libs/category/src/models/category-page-configuration-state.ts
  libs/category/src/selectors/applied-filter/applied-filter-methods.spec.ts
Due: category

feat(category): differentiate applied filters and filter requests (#711)
  libs/category/src/actions/category.actions.ts
  libs/category/src/drivers/magento/category.service.ts
  libs/category/src/drivers/magento/transformers/applied-filter-transformer.service.spec.ts
  libs/category/src/drivers/magento/transformers/applied-filter-transformer.service.ts
  libs/category/src/drivers/magento/transformers/category-page-config-transformer.service.spec.ts
  libs/category/src/drivers/magento/transformers/category-page-config-transformer.service.ts
  libs/category/src/drivers/magento/transformers/category-response-transform.service.spec.ts
  libs/category/src/drivers/magento/transformers/custom-metadata-attributes-methods.spec.ts
  libs/category/src/effects/category.effects.spec.ts
  libs/category/src/effects/category.effects.ts
  libs/category/src/facades/category.facade.spec.ts
  libs/category/src/facades/category.facade.ts
  libs/category/src/index.ts
  libs/category/src/models/category-applied-filter.ts
  libs/category/src/models/category-filter-base.ts
  libs/category/src/models/category-filter.ts
  libs/category/src/models/category-page-configuration-state.ts
  libs/category/src/models/requests/category-request.ts
  libs/category/src/models/requests/filter-request.ts
  libs/category/src/reducers/category/category.reducer.spec.ts
  libs/category/src/reducers/category/category.reducer.ts
  libs/category/src/reducers/category/toggle-filter/core.ts
  libs/category/src/reducers/category/toggle-filter/equal.ts
  libs/category/src/reducers/category/toggle-filter/match.ts
  libs/category/src/reducers/category/toggle-filter/range.ts
  libs/category/src/selectors/applied-filter/applied-filter-methods.spec.ts
  libs/category/src/selectors/applied-filter/applied-filter-methods.ts
  libs/category/src/selectors/category.selector.spec.ts
  libs/category/src/selectors/category.selector.ts
  libs/category/testing/src/factories/category-page-configuration-state.factory.spec.ts
  libs/category/testing/src/factories/category-page-configuration-state.factory.ts
Due: category

feat(product, category): add product type to DaffProduct
  libs/category/src/drivers/magento/queries/get-products.ts
  libs/product/src/drivers/magento/models/product-node.ts
  libs/product/src/drivers/magento/public_api.ts
  libs/product/src/drivers/magento/queries/fragments/product.ts
  libs/product/src/drivers/magento/transforms/product-transformer.service.ts
  libs/product/src/index.ts
  libs/product/src/models/product.ts
  libs/product/testing/src/factories/magento/product.factory.spec.ts
  libs/product/testing/src/factories/magento/product.factory.ts
  libs/product/testing/src/factories/product.factory.spec.ts
  libs/product/testing/src/factories/product.factory.ts
Due: category

deprecate __typename
  libs/product/src/drivers/magento/transforms/product-transformer.service.ts
  libs/product/src/models/product.ts
  libs/product/testing/src/factories/product.factory.spec.ts
  libs/product/testing/src/factories/product.factory.ts
Due: none

fix build
  libs/category/src/drivers/magento/transformers/category-page-config-transformer.service.spec.ts
  libs/category/src/drivers/magento/transformers/category-response-transform.service.spec.ts
  libs/category/src/drivers/magento/transformers/category-transformer.service.spec.ts
  libs/product/src/drivers/magento/transforms/product-transformer.service.ts
Due: category

feat(product, category): add product type to DaffProduct (#713)
  libs/category/src/drivers/magento/queries/get-products.ts
  libs/category/src/drivers/magento/transformers/category-page-config-transformer.service.spec.ts
  libs/category/src/drivers/magento/transformers/category-response-transform.service.spec.ts
  libs/category/src/drivers/magento/transformers/category-transformer.service.spec.ts
  libs/product/src/drivers/magento/models/product-node.ts
  libs/product/src/drivers/magento/public_api.ts
  libs/product/src/drivers/magento/queries/fragments/product.ts
  libs/product/src/drivers/magento/transforms/product-transformer.service.ts
  libs/product/src/index.ts
  libs/product/src/models/product.ts
  libs/product/testing/src/factories/magento/product.factory.spec.ts
  libs/product/testing/src/factories/magento/product.factory.ts
  libs/product/testing/src/factories/product.factory.spec.ts
  libs/product/testing/src/factories/product.factory.ts
Due: category

Path conditions:
  category: any of: libs/category/src
  core: any of: libs/core/src
