Repository graycoreio/daffodil: changes, and which Codecov flags are due for each by the changed paths.
All: category, core

feat(core): add `DaffCollectionPageOutOfBoundsError`
  libs/core/src/collection/error-map.ts
  libs/core/src/collection/page-out-of-bounds.error.ts
  libs/core/src/collection/public_api.ts
Due: core

feat(search-category): add `@daffodil/search-category/driver/in-memory`
  libs/search-category/driver/in-memory/ng-package.json
  libs/search-category/driver/in-memory/package.json
  libs/search-category/driver/in-memory/src/backend/search.service.spec.ts
  libs/search-category/driver/in-memory/src/backend/search.service.ts
  libs/search-category/driver/in-memory/src/in-memory.module.ts
  libs/search-category/driver/in-memory/src/index.ts
  libs/search-category/driver/in-memory/src/public_api.ts
  libs/search-category/tsconfig.json
Due: none

feat(search-category): add `@daffodil/search-category/testing`
  libs/search-category/testing/ng-package.json
  libs/search-category/testing/package.json
  libs/search-category/testing/src/factories/category-search-result.factory.spec.ts
  libs/search-category/testing/src/factories/category-search-result.factory.ts
  libs/search-category/testing/src/factories/public_api.ts
  libs/search-category/testing/src/index.ts
  libs/search-category/testing/src/public_api.ts
  libs/search-category/testing/src/testing.module.ts
  libs/search-category/tsconfig.json
Due: none

feat(search-product-composite): add `@daffodil/search-product-composite`
  angular.json
  libs/search-product-composite/.eslintrc.js
  libs/search-product-composite/README.md
  libs/search-product-composite/karma.conf.js
  libs/search-product-composite/ng-package.json
  libs/search-product-composite/ng-package.prod.json
  libs/search-product-composite/package.json
  libs/search-product-composite/src/index.ts
  libs/search-product-composite/src/models/product-composite-search-result.type.ts
  libs/search-product-composite/src/models/public_api.ts
  libs/search-product-composite/src/public_api.ts
  libs/search-product-composite/test.ts
  libs/search-product-composite/tsconfig.json
  libs/search-product-composite/tsconfig.lib.json
  libs/search-product-composite/tsconfig.lib.prod.json
  libs/search-product-composite/tsconfig.spec.json
Due: none

feat(core): add `DaffCollectionPageOutOfBoundsError` (#2118)
  libs/core/src/collection/error-map.ts
  libs/core/src/collection/page-out-of-bounds.error.ts
  libs/core/src/collection/public_api.ts
Due: core

feat(core): remove `Dict` type
  libs/core/src/types/dict.type.ts
  libs/core/src/types/public_api.ts
Due: core

fix(all): breaking changes from `Dict` removal
  libs/category/state/src/facades/category-facade.interface.ts
  libs/category/state/src/facades/category.facade.spec.ts
  libs/category/state/src/facades/category.facade.ts
  libs/category/state/src/selectors/category-page/category-page.selector.spec.ts
  libs/category/state/src/selectors/category-page/category-page.selector.ts
  libs/category/state/testing/src/mock-category-facade.ts
  libs/core/src/utils/array-to-dict.spec.ts
  libs/core/src/utils/array-to-dict.ts
  libs/product/driver/magento/src/transforms/aggregate/type/equal.ts
  libs/product/src/filters/array-to-dict/array-to-dict.spec.ts
  libs/product/src/filters/array-to-dict/array-to-dict.ts
  libs/product/src/filters/behaviors/apply/apply-request-to-filters.spec.ts
  libs/product/src/filters/behaviors/apply/apply-request-to-filters.ts
  libs/product/src/filters/behaviors/apply/apply-requests-to-filters.spec.ts
  libs/product/src/filters/behaviors/apply/apply-requests-to-filters.ts
  libs/product/src/filters/behaviors/clear/clear-filters.spec.ts
  libs/product/src/filters/behaviors/clear/clear-filters.ts
  libs/product/src/filters/behaviors/remove/remove-request-from-filters.spec.ts
  libs/product/src/filters/behaviors/remove/remove-request-from-filters.ts
  libs/product/src/filters/behaviors/remove/remove-requests-from-filters.spec.ts
  libs/product/src/filters/behaviors/remove/remove-requests-from-filters.ts
  libs/product/src/filters/behaviors/toggle/toggle-request-on-filters.spec.ts
  libs/product/src/filters/behaviors/toggle/toggle-request-on-filters.ts
  libs/product/src/filters/behaviors/toggle/toggle-requests-on-filters.spec.ts
  libs/product/src/filters/behaviors/toggle/toggle-requests-on-filters.ts
  libs/product/src/filters/compute-applied-filters/compute-applied-filters.spec.ts
  libs/product/src/filters/compute-applied-filters/compute-applied-filters.ts
  libs/product/src/filters/to-request/filters-to-requests.spec.ts
  libs/product/src/filters/to-request/filters-to-requests.ts
  libs/product/src/filters/type/equal/array-to-dict/option.spec.ts
  libs/product/src/filters/type/equal/array-to-dict/option.ts
  libs/product/src/filters/type/range/array-to-dict/pair.spec.ts
  libs/product/src/filters/type/range/array-to-dict/pair.ts
  libs/product/src/models/filters/filter-base.ts
  libs/product/src/models/filters/filterable.ts
  libs/product/src/models/filters/type/equal/filter.ts
  libs/product/src/models/filters/type/range/filter-base.ts
  libs/product/testing/src/factories/collection-metadata.factory.ts
  libs/seo/src/meta/restoreable.service.ts
Due: core

fix lint
  libs/category/state/src/selectors/category-page/category-page.selector.spec.ts
  libs/category/state/src/selectors/category-page/category-page.selector.ts
Due: none

feat(core): add `daffIdentifiableArrayToDict`
  libs/core/src/identifiable/array-to-dict.spec.ts
  libs/core/src/identifiable/array-to-dict.ts
  libs/core/src/identifiable/public_api.ts
  libs/core/src/public_api.ts
Due: core

feat(core): add `daffIdentifiableArrayToDict` (#2119)
  libs/core/src/identifiable/array-to-dict.spec.ts
  libs/core/src/identifiable/array-to-dict.ts
  libs/core/src/identifiable/public_api.ts
  libs/core/src/public_api.ts
Due: core

feat(core): add additional collection interfaces and factories
  libs/core/src/collection/collection.interface.ts
  libs/core/src/collection/countable.interface.ts
  libs/core/src/collection/metadata.interface.ts
  libs/core/src/collection/public_api.ts
  libs/core/src/collection/request.interface.ts
  libs/core/testing/src/factories/collection/metadata.factory.spec.ts
  libs/core/testing/src/factories/collection/metadata.factory.ts
  libs/core/testing/src/factories/collection/mock-collection.class.spec.ts
  libs/core/testing/src/factories/collection/mock-collection.class.ts
  libs/core/testing/src/factories/collection/numerically-paginable.factory.ts
  libs/core/testing/src/factories/collection/public_api.ts
  libs/core/testing/src/factories/collection/request.factory.spec.ts
  libs/core/testing/src/factories/collection/request.factory.ts
Due: core

feat(core): add additional collection interfaces and factories (#2122)
  libs/core/src/collection/collection.interface.ts
  libs/core/src/collection/countable.interface.ts
  libs/core/src/collection/metadata.interface.ts
  libs/core/src/collection/public_api.ts
  libs/core/src/collection/request.interface.ts
  libs/core/testing/src/factories/collection/metadata.factory.spec.ts
  libs/core/testing/src/factories/collection/metadata.factory.ts
  libs/core/testing/src/factories/collection/mock-collection.class.spec.ts
  libs/core/testing/src/factories/collection/mock-collection.class.ts
  libs/core/testing/src/factories/collection/numerically-paginable.factory.ts
  libs/core/testing/src/factories/collection/public_api.ts
  libs/core/testing/src/factories/collection/request.factory.spec.ts
  libs/core/testing/src/factories/collection/request.factory.ts
Due: core

feat(branding): update to sass module system (#2117)
  libs/branding/src/lib/logo/logo-theme.scss
  libs/branding/src/scss/branding-theme.scss
  libs/branding/src/scss/daff-branding-theme.scss
Due: none

feat(design-land): update design land to sass module system (#2117)
  apps/design-land/src/app/core/code-preview/component/code-preview-theme.scss
  apps/design-land/src/app/core/code-preview/component/code-preview.component.scss
  apps/design-land/src/app/foundations/color/color-theme.scss
  apps/design-land/src/app/foundations/color/color.component.scss
  apps/design-land/src/app/typography/typography-theme.scss
  apps/design-land/src/app/typography/typography.component.scss
  apps/design-land/src/scss/component-themes.scss
  apps/design-land/src/scss/dl-theme.scss
  apps/design-land/src/scss/styles.scss
  apps/design-land/src/scss/theme.scss
Due: none

feat(demo): update to sass module system (#2117)
  apps/demo/src/app/cart/components/add-to-cart-notification/components/add-to-cart-notification/add-to-cart-notification.component.scss
  apps/demo/src/app/cart/components/add-to-cart-notification/components/product-added/product-added.component.scss
  apps/demo/src/app/cart/components/cart-item/cart-item.component.scss
  apps/demo/src/app/cart/components/minicart-item/minicart-item.component.scss
  apps/demo/src/app/core/sidebar/containers/sidebar/sidebar.component.scss
  apps/demo/src/app/core/template/template/template.component.scss
  apps/demo/src/app/newsletter/newsletter.component.scss
  apps/demo/src/scss/demo-theme.scss
  apps/demo/src/scss/mixins/_dividers.scss
  apps/demo/src/scss/styles.scss
  apps/demo/src/scss/theme.scss
Due: none

feat(daffio): update to sass module system (#2117)
  apps/daffio/src/app/api/components/api-list/api-list-theme.scss
  apps/daffio/src/app/api/components/api-list/api-list.component.scss
  apps/daffio/src/app/content/why-pwa/components/feature-comparison/feature-comparison-theme.scss
  apps/daffio/src/app/core/footer/simple-footer/simple-footer-theme.scss
  apps/daffio/src/app/core/footer/sub-footer/sub-footer-theme.scss
  apps/daffio/src/app/design/device/iphone/iphone.component.scss
  apps/daffio/src/app/docs/components/table-of-contents/table-of-contents-theme.scss
  apps/daffio/src/app/newsletter/newsletter-theme.scss
  apps/daffio/src/app/newsletter/newsletter.component.scss
  apps/daffio/src/scss/component-themes.scss
  apps/daffio/src/scss/daffio-theme.scss
  apps/daffio/src/scss/styles.scss
  apps/daffio/src/scss/theme.scss
  apps/daffio/src/scss/type-descriptors/_mixins.scss
  apps/daffio/src/scss/utilities.scss
Due: none

feat(core)!: camelCase `DaffNumericallyPaginable` and `DaffSortable` fields
  libs/core/src/collection/paginable.ts
  libs/core/src/collection/sortable.ts
  libs/core/testing/src/factories/collection/metadata.factory.spec.ts
  libs/core/testing/src/factories/collection/metadata.factory.ts
  libs/core/testing/src/factories/collection/numerically-paginable.factory.spec.ts
  libs/core/testing/src/factories/collection/numerically-paginable.factory.ts
  libs/core/testing/src/factories/collection/sortable.factory.spec.ts
  libs/core/testing/src/factories/collection/sortable.factory.ts
Due: core

feat(category,product)!: use collection models and fix breaking changes
  libs/category/driver/in-memory/src/backend/category.service.spec.ts
  libs/category/driver/in-memory/src/backend/category.service.ts
  libs/category/driver/in-memory/src/drivers/category.service.spec.ts
  libs/category/driver/in-memory/src/drivers/category.service.ts
  libs/category/driver/magento/src/category.service.spec.ts
  libs/category/driver/magento/src/category.service.ts
  libs/category/driver/magento/src/transformers/category-page-config-transformer.service.spec.ts
  libs/category/driver/magento/src/transformers/category-page-config-transformer.service.ts
  libs/category/driver/magento/src/transformers/category-response-transform.service.spec.ts
  libs/category/routing/src/resolvers/category-page-url/category-page-url.resolver.spec.ts
  libs/category/routing/src/resolvers/category-page-url/category-page-url.resolver.ts
  libs/category/src/models/category-page-metadata.ts
  libs/category/state/src/actions/category-page.actions.ts
  libs/category/state/src/effects/category-page-filter.effects.spec.ts
  libs/category/state/src/effects/category-page-filter.effects.ts
  libs/category/state/src/effects/category-page.effects.spec.ts
  libs/category/state/src/effects/category-page.effects.ts
  libs/category/state/src/facades/category.facade.spec.ts
  libs/category/state/src/reducers/category/category.reducer.spec.ts
  libs/category/state/src/reducers/category/category.reducer.ts
  libs/category/state/src/reducers/category/pure/build-metadata-from-request.ts
  libs/category/state/src/selectors/category-page/category-page.selector.spec.ts
  libs/category/state/src/selectors/category-page/category-page.selector.ts
  libs/category/state/src/selectors/category.selector.spec.ts
  libs/category/testing/src/factories/category-page-metadata.factory.spec.ts
  libs/category/testing/src/factories/category-page-metadata.factory.ts
  libs/product/driver/magento/src/transforms/collection-metadata.spec.ts
  libs/product/driver/magento/src/transforms/collection-metadata.ts
  libs/product/routing/src/injection-tokens/collection/query-param-transforms.token.spec.ts
  libs/product/routing/src/injection-tokens/collection/query-param-transforms.token.ts
  libs/product/routing/src/injection-tokens/collection/query-params.token.spec.ts
  libs/product/routing/src/injection-tokens/collection/query-params.token.ts
  libs/product/routing/src/services/get-request-from-route.service.spec.ts
  libs/product/routing/src/services/get-request-from-route.service.ts
  libs/product/src/models/collection/metadata.interface.ts
  libs/product/src/models/collection/public_api.ts
  libs/product/src/models/collection/request.interface.ts
  libs/product/testing/src/factories/collection-metadata.factory.spec.ts
  libs/product/testing/src/factories/collection-metadata.factory.ts
Due: category

fix(design-land): fix style file variable
  apps/design-land/src/scss/styles.scss
Due: none

fix(design-land): fix style file variable (#2124)
  apps/design-land/src/scss/styles.scss
Due: none

refactor(design): remove unnecessary daff-util imports
  libs/design/hero/examples/src/compact-hero/compact-hero.component.scss
  libs/design/hero/examples/src/hero-text-alignment/hero-text-alignment.component.scss
  libs/design/hero/examples/src/hero-theming/hero-theming.component.scss
  libs/design/src/atoms/form/form-field/form-field/form-field.component.scss
  libs/design/src/atoms/form/input/input.component.scss
  libs/design/src/atoms/form/select/select/select.component.scss
  libs/design/src/atoms/image/image.component.scss
  libs/design/src/molecules/modal/modal-actions/modal-actions.component.scss
  libs/design/src/molecules/modal/modal-content/modal-content.component.scss
  libs/design/src/molecules/navbar/navbar.component.scss
  libs/design/src/molecules/sidebar/sidebar/sidebar.component.scss
Due: none

feat(design): allow root css variables to be used with or without theme switching
  libs/design/scss/daff-global.scss
  libs/design/scss/theming/_theme-css-variables.scss
Due: none

fix(cart): magento driver not passing street2 value
  libs/cart/driver/magento/src/transforms/inputs/cart-address.service.spec.ts
  libs/cart/driver/magento/src/transforms/inputs/cart-address.service.ts
Due: none

fix(cart): magento driver not passing street2 value (#2127)
  libs/cart/driver/magento/src/transforms/inputs/cart-address.service.spec.ts
  libs/cart/driver/magento/src/transforms/inputs/cart-address.service.ts
Due: none

feat(design): allow root css variables to be used with or without theme switching (#2126)
  libs/design/scss/daff-global.scss
  libs/design/scss/theming/_theme-css-variables.scss
Due: none

refactor(design): remove unnecessary daff-util imports (#2125)
  libs/design/hero/examples/src/compact-hero/compact-hero.component.scss
  libs/design/hero/examples/src/hero-text-alignment/hero-text-alignment.component.scss
  libs/design/hero/examples/src/hero-theming/hero-theming.component.scss
  libs/design/src/atoms/form/form-field/form-field/form-field.component.scss
  libs/design/src/atoms/form/input/input.component.scss
  libs/design/src/atoms/form/select/select/select.component.scss
  libs/design/src/atoms/image/image.component.scss
  libs/design/src/molecules/modal/modal-actions/modal-actions.component.scss
  libs/design/src/molecules/modal/modal-content/modal-content.component.scss
  libs/design/src/molecules/navbar/navbar.component.scss
  libs/design/src/molecules/sidebar/sidebar/sidebar.component.scss
Due: none

feat(core)!: camelCase `DaffNumericallyPaginable` and `DaffSortable` fields (#2123)
  libs/core/src/collection/paginable.ts
  libs/core/src/collection/sortable.ts
  libs/core/testing/src/factories/collection/metadata.factory.spec.ts
  libs/core/testing/src/factories/collection/metadata.factory.ts
  libs/core/testing/src/factories/collection/numerically-paginable.factory.spec.ts
  libs/core/testing/src/factories/collection/numerically-paginable.factory.ts
  libs/core/testing/src/factories/collection/sortable.factory.spec.ts
  libs/core/testing/src/factories/collection/sortable.factory.ts
Due: core

feat(category,product)!: use collection models and fix breaking changes (#2123)
  libs/category/driver/in-memory/src/backend/category.service.spec.ts
  libs/category/driver/in-memory/src/backend/category.service.ts
  libs/category/driver/in-memory/src/drivers/category.service.spec.ts
  libs/category/driver/in-memory/src/drivers/category.service.ts
  libs/category/driver/magento/src/category.service.spec.ts
  libs/category/driver/magento/src/category.service.ts
  libs/category/driver/magento/src/transformers/category-page-config-transformer.service.spec.ts
  libs/category/driver/magento/src/transformers/category-page-config-transformer.service.ts
  libs/category/driver/magento/src/transformers/category-response-transform.service.spec.ts
  libs/category/routing/src/resolvers/category-page-url/category-page-url.resolver.spec.ts
  libs/category/routing/src/resolvers/category-page-url/category-page-url.resolver.ts
  libs/category/src/models/category-page-metadata.ts
  libs/category/state/src/actions/category-page.actions.ts
  libs/category/state/src/effects/category-page-filter.effects.spec.ts
  libs/category/state/src/effects/category-page-filter.effects.ts
  libs/category/state/src/effects/category-page.effects.spec.ts
  libs/category/state/src/effects/category-page.effects.ts
  libs/category/state/src/facades/category.facade.spec.ts
  libs/category/state/src/reducers/category/category.reducer.spec.ts
  libs/category/state/src/reducers/category/category.reducer.ts
  libs/category/state/src/reducers/category/pure/build-metadata-from-request.ts
  libs/category/state/src/selectors/category-page/category-page.selector.spec.ts
  libs/category/state/src/selectors/category-page/category-page.selector.ts
  libs/category/state/src/selectors/category.selector.spec.ts
  libs/category/testing/src/factories/category-page-metadata.factory.spec.ts
  libs/category/testing/src/factories/category-page-metadata.factory.ts
  libs/product/driver/magento/src/transforms/collection-metadata.spec.ts
  libs/product/driver/magento/src/transforms/collection-metadata.ts
  libs/product/routing/src/injection-tokens/collection/query-param-transforms.token.spec.ts
  libs/product/routing/src/injection-tokens/collection/query-param-transforms.token.ts
  libs/product/routing/src/injection-tokens/collection/query-params.token.spec.ts
  libs/product/routing/src/injection-tokens/collection/query-params.token.ts
  libs/product/routing/src/services/get-request-from-route.service.spec.ts
  libs/product/routing/src/services/get-request-from-route.service.ts
  libs/product/src/models/collection/metadata.interface.ts
  libs/product/src/models/collection/public_api.ts
  libs/product/src/models/collection/request.interface.ts
  libs/product/testing/src/factories/collection-metadata.factory.spec.ts
  libs/product/testing/src/factories/collection-metadata.factory.ts
Due: category

test(category): fix really bad testing driver test
  libs/category/driver/testing/src/drivers/category.service.spec.ts
Due: none

feat(product): use `MockCollectionMetadata` in factory
  libs/product/testing/src/factories/collection-metadata.factory.ts
  libs/product/testing/src/factories/collection/metadata.factory.spec.ts
  libs/product/testing/src/factories/collection/metadata.factory.ts
  libs/product/testing/src/factories/public_api.ts
Due: none

test(category): fix really bad testing driver test (#2128)
  libs/category/driver/testing/src/drivers/category.service.spec.ts
Due: none

feat(product): use `MockCollectionMetadata` in factory (#2129)
  libs/product/testing/src/factories/collection-metadata.factory.ts
  libs/product/testing/src/factories/collection/metadata.factory.spec.ts
  libs/product/testing/src/factories/collection/metadata.factory.ts
  libs/product/testing/src/factories/public_api.ts
Due: none

feat(product): add `DaffProductCollectionRequestFactory`
  libs/product/testing/src/factories/collection/request.factory.spec.ts
  libs/product/testing/src/factories/collection/request.factory.ts
  libs/product/testing/src/factories/public_api.ts
Due: none

feat(product): add `DaffProductCollectionRequestFactory` (#2130)
  libs/product/testing/src/factories/collection/request.factory.spec.ts
  libs/product/testing/src/factories/collection/request.factory.ts
  libs/product/testing/src/factories/public_api.ts
Due: none

feat(product)!: replace `DaffProductCollectionResponse` with `DaffProductCollection`
  libs/product/src/models/collection/collection.interface.ts
  libs/product/src/models/collection/public_api.ts
  libs/product/src/models/collection/response.interface.ts
  libs/product/testing/src/factories/collection/collection.factory.spec.ts
  libs/product/testing/src/factories/collection/collection.factory.ts
  libs/product/testing/src/factories/public_api.ts
Due: none

feat(core): add collection action interfaces
  libs/core/state/src/collection/actions.ts
  libs/core/state/src/collection/public_api.ts
  libs/core/state/src/public_api.ts
Due: none

feat(core): add collection action interfaces (#2133)
  libs/core/state/src/collection/actions.ts
  libs/core/state/src/collection/public_api.ts
  libs/core/state/src/public_api.ts
Due: none

feat(product)!: replace `DaffProductCollectionResponse` with `DaffProductCollection` (#2132)
  libs/product/src/models/collection/collection.interface.ts
  libs/product/src/models/collection/public_api.ts
  libs/product/src/models/collection/response.interface.ts
  libs/product/testing/src/factories/collection/collection.factory.spec.ts
  libs/product/testing/src/factories/collection/collection.factory.ts
  libs/product/testing/src/factories/public_api.ts
Due: none

Path conditions:
  category: any of: libs/category/src
  core: any of: libs/core/src
