Repository graycoreio/daffodil: changes, and which Codecov flags are due for each by the changed paths.
All: category, core

extract validate filters
  libs/category/src/effects/category-page.effects.spec.ts
  libs/category/src/effects/category-page.effects.ts
  libs/category/src/effects/category.effects.spec.ts
  libs/category/src/effects/category.effects.ts
  libs/category/src/helpers/public_api.ts
  libs/category/src/helpers/validate-filters.spec.ts
  libs/category/src/helpers/validate-filters.ts
  libs/category/src/index.ts
  libs/category/src/models/requests/filter-request.ts
Due: category

pr comments
  libs/product/src/selectors/composite-product/composite-product.selectors.ts
Due: none

feat(category): add page load action (#1151)
  libs/category/src/actions/category.actions.ts
  libs/category/src/effects/category-page.effects.spec.ts
  libs/category/src/effects/category-page.effects.ts
  libs/category/src/effects/category.effects.spec.ts
  libs/category/src/effects/category.effects.ts
  libs/category/src/facades/category.facade.spec.ts
  libs/category/src/helpers/public_api.ts
  libs/category/src/helpers/validate-filters.spec.ts
  libs/category/src/helpers/validate-filters.ts
  libs/category/src/index.ts
  libs/category/src/models/requests/filter-request.ts
  libs/category/src/reducers/category-entities/category-entities.reducer.spec.ts
  libs/category/src/reducers/category-entities/category-entities.reducer.ts
  libs/category/src/reducers/category/category.reducer.spec.ts
  libs/category/src/reducers/category/category.reducer.ts
  libs/category/src/selectors/category-entities/category-entities.selector.spec.ts
  libs/category/src/selectors/category-page/category-page.selector.spec.ts
  libs/category/src/selectors/category.selector.spec.ts
Due: category

feat(product): allow selectCompositeProductPricesForConfiguration tak… (#1153)
  libs/product/src/facades/composite-product/composite-product-facade.interface.ts
  libs/product/src/facades/composite-product/composite-product.facade.spec.ts
  libs/product/src/facades/composite-product/composite-product.facade.ts
  libs/product/src/models/composite-configuration-item.ts
  libs/product/src/selectors/composite-product/composite-product.selectors.spec.ts
  libs/product/src/selectors/composite-product/composite-product.selectors.ts
  libs/product/testing/src/helpers/mock-composite-product-facade.ts
Due: none

chore(release): 0.19.0
  docs/CHANGELOG.md
  lerna.json
  package-lock.json
  package.json
Due: none

fix(category): stop category load on DaffCategoryLoadSuccess
  libs/category/src/reducers/category/category.reducer.spec.ts
  libs/category/src/reducers/category/category.reducer.ts
  libs/category/src/resolvers/category-page/category-page.resolver.spec.ts
  libs/category/src/resolvers/category-page/category-page.resolver.ts
Due: category

fix(category): stop category load on DaffCategoryLoadSuccess (#1156)
  libs/category/src/reducers/category/category.reducer.spec.ts
  libs/category/src/reducers/category/category.reducer.ts
  libs/category/src/resolvers/category-page/category-page.resolver.spec.ts
  libs/category/src/resolvers/category-page/category-page.resolver.ts
Due: category

chore(release): 0.19.1
  docs/CHANGELOG.md
  lerna.json
  package-lock.json
  package.json
Due: none

fix(category): add category page effects to DaffCategoryStateModule
  libs/category/src/category-state.module.ts
Due: category

fix(category): add category page effects to DaffCategoryStateModule (#1157)
  libs/category/src/category-state.module.ts
Due: category

chore(release): 0.19.2
  docs/CHANGELOG.md
  lerna.json
  package-lock.json
  package.json
Due: none

fix(product): out of stock item options result in a price bug for non-one, unchangeable item option quantity products
  libs/product/src/reducers/composite-product-entities/composite-product-entities.reducer.spec.ts
  libs/product/src/reducers/composite-product-entities/composite-product-entities.reducer.ts
  libs/product/src/selectors/composite-product/composite-product.selectors.spec.ts
  libs/product/src/selectors/composite-product/composite-product.selectors.ts
Due: none

feat(core): add XOR type for mutual exclusion typing
  libs/core/src/types/public_api.ts
  libs/core/src/types/xor.ts
Due: core

feat(core): add XOR type for mutual exclusion typing
  libs/core/src/types/xor.ts
Due: core

feat(navigation): injectable category tree query depth in magento driver (#1150)
  libs/navigation/src/drivers/interfaces/navigation-config.interface.ts
  libs/navigation/src/drivers/magento/interfaces/category-node.ts
  libs/navigation/src/drivers/magento/interfaces/category-product-node.ts
  libs/navigation/src/drivers/magento/navigation-driver.module.ts
  libs/navigation/src/drivers/magento/navigation.service.spec.ts
  libs/navigation/src/drivers/magento/navigation.service.ts
  libs/navigation/src/drivers/magento/queries/fragments/category-node.spec.ts
  libs/navigation/src/drivers/magento/queries/fragments/category-node.ts
  libs/navigation/src/drivers/magento/queries/fragments/public_api.ts
  libs/navigation/src/drivers/magento/queries/get-category-tree.ts
  libs/navigation/src/drivers/magento/transformers/navigation-transformer.ts
Due: none

remove console logs
  libs/product/src/selectors/composite-product/composite-product.selectors.ts
Due: none

fix(product): out of stock item options result in a price bug for non… (#1158)
  libs/product/src/reducers/composite-product-entities/composite-product-entities.reducer.spec.ts
  libs/product/src/reducers/composite-product-entities/composite-product-entities.reducer.ts
  libs/product/src/selectors/composite-product/composite-product.selectors.spec.ts
Due: none

feat(authorize.net): drop an unused key
  libs/authorizenet/src/drivers/interfaces/authorize-net-config.interface.ts
Due: none

feat(authorizenet): add new production token to authorizenet package
  libs/authorizenet/src/index.ts
  libs/authorizenet/src/public_api.ts
  libs/authorizenet/src/services/accept-js-loading.service.spec.ts
  libs/authorizenet/src/services/accept-js-loading.service.ts
  libs/authorizenet/src/services/accept-js-production.token.ts
Due: none

docs
  libs/authorizenet/src/services/accept-js-production.token.ts
Due: none

move DaffCartItemStateDebounceTime to @daffodil/cart/state
  libs/cart/src/injection-tokens/public_api.ts
  libs/cart/state/src/cart-state.module.ts
  libs/cart/state/src/effects/cart-item.effects.spec.ts
  libs/cart/state/src/effects/cart-item.effects.ts
  libs/cart/state/src/injection-tokens/cart-item-state-debounce-time.ts
Due: none

fix
  libs/authorizenet/src/index.ts
Due: none

fix tests
  libs/authorizenet/src/drivers/magento/transformers/authorize-net-transformer.spec.ts
  libs/authorizenet/src/effects/authorize-net.effects.spec.ts
Due: none

fix tests
  libs/authorizenet/src/services/accept-js-production.token.ts
Due: none

feat(authorizenet): add new production token to authorizenet package (#1161)
  libs/authorizenet/src/drivers/interfaces/authorize-net-config.interface.ts
  libs/authorizenet/src/drivers/magento/transformers/authorize-net-transformer.spec.ts
  libs/authorizenet/src/effects/authorize-net.effects.spec.ts
  libs/authorizenet/src/index.ts
  libs/authorizenet/src/public_api.ts
  libs/authorizenet/src/services/accept-js-loading.service.spec.ts
  libs/authorizenet/src/services/accept-js-loading.service.ts
  libs/authorizenet/src/services/accept-js-production.token.ts
Due: none

feat(cart): add state to each cart item to indicate if it is new, mutating, etc (#1126)
  libs/cart/driver/magento/src/transforms/outputs/cart-item/simple-cart-item-transformer.ts
  libs/cart/state/src/actions/cart-item.actions.ts
  libs/cart/state/src/cart-state.module.ts
  libs/cart/state/src/effects/cart-item.effects.spec.ts
  libs/cart/state/src/effects/cart-item.effects.ts
  libs/cart/state/src/facades/cart/cart-facade.interface.ts
  libs/cart/state/src/facades/cart/cart.facade.spec.ts
  libs/cart/state/src/facades/cart/cart.facade.ts
  libs/cart/state/src/injection-tokens/cart-item-state-debounce-time.ts
  libs/cart/state/src/models/public_api.ts
  libs/cart/state/src/models/stateful-cart-item.ts
  libs/cart/state/src/models/stateful-composite-cart-item.ts
  libs/cart/state/src/models/stateful-configurable-cart-item.ts
  libs/cart/state/src/public_api.ts
  libs/cart/state/src/reducers/action-types.type.ts
  libs/cart/state/src/reducers/cart-item-entities/cart-item-entities-reducer-adapter.ts
  libs/cart/state/src/reducers/cart-item-entities/cart-item-entities.reducer.spec.ts
  libs/cart/state/src/reducers/cart-item-entities/cart-item-entities.reducer.ts
  libs/cart/state/src/reducers/cart-item/cart-item.reducer.spec.ts
  libs/cart/state/src/reducers/cart-reducers-state.interface.ts
  libs/cart/state/src/selectors/cart-feature.selector.ts
  libs/cart/state/src/selectors/cart-item-entities/cart-item-entities.selectors.spec.ts
  libs/cart/state/src/selectors/cart-item-entities/cart-item-entities.selectors.ts
  libs/cart/state/src/selectors/cart-order/cart-order.selector.ts
  libs/cart/state/src/selectors/cart.selector.ts
  libs/cart/state/src/selectors/cart/cart.selector.ts
  libs/cart/state/testing/src/factories/stateful-cart-item.factory.spec.ts
  libs/cart/state/testing/src/factories/stateful-cart-item.factory.ts
  libs/cart/state/testing/src/factories/stateful-composite-cart-item.factory.ts
  libs/cart/state/testing/src/factories/stateful-composite-cart-item.spec.ts
  libs/cart/state/testing/src/factories/stateful-configurable-cart-item.factory.ts
  libs/cart/state/testing/src/factories/stateful-configurable-cart-item.spec.ts
  libs/cart/state/testing/src/mock-cart-facade.ts
  libs/cart/state/testing/src/public_api.ts
  libs/cart/testing/src/factories/cart-item/cart-item.factory.ts
  libs/cart/testing/src/factories/cart-item/composite-cart-item.factory.ts
  libs/cart/testing/src/factories/cart-item/configurable-cart-item.factory.ts
  libs/cart/testing/src/factories/public_api.ts
Due: none

chore(release): 0.20.0
  docs/CHANGELOG.md
  lerna.json
  package-lock.json
  package.json
Due: none

testing(product): fix a test that fails sometimes
  libs/product/src/selectors/configurable-product/configurable-product.selectors.unit.spec.ts
Due: none

feat(cart): add non empty cart guard
  libs/cart/state/src/guards/non-empty-cart/non-empty-cart-guard-redirect.token.ts
  libs/cart/state/src/guards/non-empty-cart/non-empty-cart.guard.spec.ts
  libs/cart/state/src/guards/non-empty-cart/non-empty-cart.guard.ts
  libs/cart/state/src/guards/public_api.ts
Due: none

test(cart): remove unnecessary provides
  libs/cart/state/src/guards/billing-address/billing-address.guard.spec.ts
  libs/cart/state/src/guards/order-result/order-result.guard.spec.ts
  libs/cart/state/src/guards/payment-method/payment-method.guard.spec.ts
  libs/cart/state/src/guards/shipping-address/shipping-address.guard.spec.ts
  libs/cart/state/src/guards/shipping-method/shipping-method.guard.spec.ts
Due: none

docs and provide default
  libs/cart/state/src/cart-state.module.ts
  libs/cart/state/src/guards/non-empty-cart/non-empty-cart.guard.ts
Due: none

fix build
  libs/authorizenet/state/src/effects/authorize-net.effects.spec.ts
  libs/authorizenet/state/src/effects/authorize-net.effects.ts
Due: none

more docs
  libs/cart/state/src/guards/non-empty-cart/non-empty-cart-guard-redirect.token.ts
Due: none

fix(cart): cart item state is set incorrectly in cart item reducers
  libs/cart/state/src/reducers/cart-item-entities/cart-item-entities.reducer.spec.ts
  libs/cart/state/src/reducers/cart-item-entities/cart-item-entities.reducer.ts
  libs/cart/state/testing/src/factories/stateful-cart-item.factory.ts
Due: none

feat(cart): transform cart item prices from product
  libs/cart/driver/magento/src/cart-item.service.spec.ts
  libs/cart/driver/magento/src/transforms/outputs/cart-item/simple-cart-item-transformer.spec.ts
  libs/cart/driver/magento/src/transforms/outputs/cart-item/simple-cart-item-transformer.ts
Due: none

testing(product): fix a test that fails sometimes (#1163)
  libs/product/src/selectors/configurable-product/configurable-product.selectors.unit.spec.ts
Due: none

refactor guard name and add docs
  libs/cart/state/src/cart-state.module.ts
  libs/cart/state/src/guards/non-empty-cart/non-empty-cart-guard-redirect.token.ts
  libs/cart/state/src/guards/non-empty-cart/non-empty-cart.guard.spec.ts
  libs/cart/state/src/guards/non-empty-cart/non-empty-cart.guard.ts
  libs/cart/state/src/guards/public_api.ts
Due: none

fix(navigation): the getCategoryNodeFragment magento query does not work
  libs/navigation/src/drivers/magento/queries/fragments/category-node.ts
Due: none

Path conditions:
  category: any of: libs/category/src
  core: any of: libs/core/src
