Repository graycoreio/daffodil: changes, and which Codecov flags are due for each by the changed paths.
All: category, core

docs(all): add docs describing the apporpriate convention for action names
  docs/state/action-naming-conventions.md
Due: none

feat(authorizenet): add driver error code enum (#1190)
  libs/authorizenet/driver/src/errors/acceptjs_invalid.ts
  libs/authorizenet/driver/src/errors/acceptjs_missing.ts
  libs/authorizenet/driver/src/errors/auth-failed.ts
  libs/authorizenet/driver/src/errors/error-code-map.ts
  libs/authorizenet/driver/src/errors/error-codes.enum.ts
  libs/authorizenet/driver/src/errors/input-missing.ts
  libs/authorizenet/driver/src/errors/insecure-connection.ts
  libs/authorizenet/driver/src/errors/invalid-api-response.ts
  libs/authorizenet/driver/src/errors/invalid-cc-cvv.ts
  libs/authorizenet/driver/src/errors/invalid-cc-exp-month.ts
  libs/authorizenet/driver/src/errors/invalid-cc-exp-year.ts
  libs/authorizenet/driver/src/errors/invalid-cc-name.ts
  libs/authorizenet/driver/src/errors/invalid-cc-number.ts
  libs/authorizenet/driver/src/errors/invalid-client-key.ts
  libs/authorizenet/driver/src/errors/invalid-login-id.ts
  libs/authorizenet/driver/src/errors/invalid-postal-code.ts
  libs/authorizenet/driver/src/errors/past-cc-expiration.ts
  libs/authorizenet/driver/src/errors/public_api.ts
Due: none

feat(core, product): rename DaffSortable to DaffOrderable
  libs/core/src/index.ts
  libs/core/src/orderable/orderable.ts
  libs/core/src/sortable/sortable.ts
  libs/product/src/models/configurable-product.ts
Due: core

feat(category): rename category actions (#1315)
  libs/category/src/actions/category-page.actions.ts
  libs/category/src/effects/category-page.effects.spec.ts
  libs/category/src/effects/category-page.effects.ts
  libs/category/src/reducers/category/category.reducer.spec.ts
  libs/category/src/reducers/category/category.reducer.ts
Due: category

update convention example
  docs/state/action-naming-conventions.md
Due: none

feat(core): introduce DaffNumericallyPaginateable for collections that can be paginated
  libs/core/state/src/collection/paginateable.ts
  libs/core/state/src/collection/public_api.ts
  libs/core/state/src/index.ts
Due: none

remove optional props
  libs/core/state/src/collection/paginateable.ts
Due: none

linting
  libs/core/src/orderable/orderable.ts
Due: core

linting
  libs/core/state/src/collection/paginateable.ts
  libs/core/state/src/collection/public_api.ts
Due: none

chore(all): allow angular analytics
  angular.json
Due: none

style(all): enforce no-unused-imports
  .eslintrc.js
  apps/daffio/server/server.ts
  apps/daffio/src/polyfills.ts
  apps/daffio/src/test.ts
  apps/demo/src/polyfills.ts
  apps/demo/src/test.ts
  apps/design-land/src/test.ts
  libs/auth/test.ts
  libs/authorizenet/test.ts
  libs/branding/src/test.ts
  libs/cart/test.ts
  libs/category/test.ts
  libs/checkout/test.ts
  libs/contact/test.ts
  libs/core/test.ts
  libs/design/src/test.ts
  libs/driver/test.ts
  libs/external-router/test.ts
  libs/geography/test.ts
  libs/navigation/test.ts
  libs/newsletter/test.ts
  libs/order/test.ts
  libs/paypal/test.ts
  libs/product/test.ts
Due: none

style(all): enforce no-unused-imports (#1327)
  .eslintrc.js
  apps/daffio/server/server.ts
  apps/daffio/src/polyfills.ts
  apps/daffio/src/test.ts
  apps/demo/src/polyfills.ts
  apps/demo/src/test.ts
  apps/design-land/src/test.ts
  libs/auth/test.ts
  libs/authorizenet/test.ts
  libs/branding/src/test.ts
  libs/cart/test.ts
  libs/category/test.ts
  libs/checkout/test.ts
  libs/contact/test.ts
  libs/core/test.ts
  libs/design/src/test.ts
  libs/driver/test.ts
  libs/external-router/test.ts
  libs/geography/test.ts
  libs/navigation/test.ts
  libs/newsletter/test.ts
  libs/order/test.ts
  libs/paypal/test.ts
  libs/product/test.ts
Due: none

chore(all): allow angular analytics (#1326)
  angular.json
Due: none

set daffState to Error
  libs/cart/state/src/models/stateful-cart-item.ts
  libs/cart/state/src/reducers/cart-item-entities/cart-item-entities.reducer.spec.ts
  libs/cart/state/src/reducers/cart-item-entities/cart-item-entities.reducer.ts
Due: none

feat(cart): set an error cart-item daffState on failure (#1321)
  libs/cart/state/src/actions/cart-item.actions.ts
  libs/cart/state/src/effects/cart-item.effects.spec.ts
  libs/cart/state/src/effects/cart-item.effects.ts
  libs/cart/state/src/facades/cart/cart.facade.spec.ts
  libs/cart/state/src/models/stateful-cart-item.ts
  libs/cart/state/src/reducers/cart-item-entities/cart-item-entities.reducer.spec.ts
  libs/cart/state/src/reducers/cart-item-entities/cart-item-entities.reducer.ts
  libs/cart/state/src/reducers/cart-item/cart-item.reducer.spec.ts
Due: none

docs(all): add docs describing the convention for action names (#1322)
  docs/state/action-naming-conventions.md
Due: none

add a space
  libs/core/src/orderable/orderable.ts
Due: core

build(all): add recommended extensions for VSCode and update VSCode editor settings
  .vscode/extensions.json
  .vscode/settings.json
Due: none

rename to paginable
  libs/core/state/src/collection/paginable.ts
  libs/core/state/src/collection/paginateable.ts
  libs/core/state/src/collection/public_api.ts
Due: none

feat(core, product): rename DaffSortable to DaffOrderable (#1323)
  libs/core/src/index.ts
  libs/core/src/orderable/orderable.ts
  libs/core/src/sortable/sortable.ts
  libs/product/src/models/configurable-product.ts
Due: core

feat(core): introduce DaffNumericallyPaginable for collections (#1324)
  libs/core/state/src/collection/paginable.ts
  libs/core/state/src/collection/public_api.ts
  libs/core/state/src/index.ts
Due: none

feat(core, category): introduce DaffSortable for collections of elements
  libs/category/src/drivers/magento/transformers/applied-sort-option-transformer.service.spec.ts
  libs/category/src/drivers/magento/transformers/applied-sort-option-transformer.service.ts
  libs/category/src/effects/category-page.effects.spec.ts
  libs/category/src/facades/category-facade.interface.ts
  libs/category/src/facades/category.facade.ts
  libs/category/src/index.ts
  libs/category/src/models/requests/category-request.ts
  libs/category/src/reducers/category/category.reducer.spec.ts
  libs/category/testing/src/helpers/mock-category-facade.ts
  libs/core/state/src/collection/public_api.ts
  libs/core/state/src/collection/sortable.ts
Due: category

linting
  libs/category/src/drivers/magento/transformers/applied-sort-option-transformer.service.spec.ts
  libs/category/src/drivers/magento/transformers/applied-sort-option-transformer.service.ts
  libs/category/src/effects/category-page.effects.spec.ts
  libs/category/src/facades/category-facade.interface.ts
  libs/category/src/facades/category.facade.ts
  libs/category/src/index.ts
  libs/category/src/reducers/category/category.reducer.spec.ts
  libs/category/testing/src/helpers/mock-category-facade.ts
Due: category

value reference
  libs/core/state/src/collection/sortable.ts
Due: none

clarify types and docs
  libs/core/state/src/collection/sortable.ts
Due: none

docs
  libs/category/src/drivers/magento/transformers/applied-sort-option-transformer.service.ts
  libs/core/state/src/collection/sortable.ts
Due: category

docs
  libs/core/state/src/collection/sortable.ts
Due: none

fix(product): product page actions do not initialize composite and configurable product state
  libs/product/state/src/reducers/composite-product-entities/composite-product-entities.reducer.spec.ts
  libs/product/state/src/reducers/composite-product-entities/composite-product-entities.reducer.ts
  libs/product/state/src/reducers/configurable-product-entities/configurable-product-entities.reducer.spec.ts
  libs/product/state/src/reducers/configurable-product-entities/configurable-product-entities.reducer.ts
Due: none

chore(release): 0.27.0
  docs/CHANGELOG.md
  lerna.json
  package-lock.json
  package.json
Due: none

fix(product): product page actions do not initialize composite and configurable product state (#1330)
  libs/product/state/src/reducers/composite-product-entities/composite-product-entities.reducer.spec.ts
  libs/product/state/src/reducers/composite-product-entities/composite-product-entities.reducer.ts
  libs/product/state/src/reducers/configurable-product-entities/configurable-product-entities.reducer.spec.ts
  libs/product/state/src/reducers/configurable-product-entities/configurable-product-entities.reducer.ts
Due: none

linting and DaffState
  libs/cart/state/src/facades/cart/cart.facade.spec.ts
  libs/cart/state/src/reducers/cart-billing-address/cart-billing-address.reducer.spec.ts
  libs/cart/state/src/reducers/cart-billing-address/cart-billing-address.reducer.ts
  libs/cart/state/src/reducers/cart-coupon/cart-coupon.reducer.spec.ts
  libs/cart/state/src/reducers/cart-coupon/cart-coupon.reducer.ts
  libs/cart/state/src/reducers/cart-initial-state.ts
  libs/cart/state/src/reducers/cart-item/cart-item.reducer.spec.ts
  libs/cart/state/src/reducers/cart-item/cart-item.reducer.ts
  libs/cart/state/src/reducers/cart-order/cart-order-initial-state.ts
  libs/cart/state/src/reducers/cart-order/cart-order-state.interface.ts
  libs/cart/state/src/reducers/cart-order/cart-order.reducer.spec.ts
  libs/cart/state/src/reducers/cart-order/cart-order.reducer.ts
  libs/cart/state/src/reducers/cart-payment-methods/cart-payment-methods.reducer.spec.ts
  libs/cart/state/src/reducers/cart-payment-methods/cart-payment-methods.reducer.ts
  libs/cart/state/src/reducers/cart-payment/cart-payment.reducer.spec.ts
  libs/cart/state/src/reducers/cart-payment/cart-payment.reducer.ts
  libs/cart/state/src/reducers/cart-shipping-address/cart-shipping-address.reducer.spec.ts
  libs/cart/state/src/reducers/cart-shipping-address/cart-shipping-address.reducer.ts
  libs/cart/state/src/reducers/cart-shipping-information/cart-shipping-information.reducer.spec.ts
  libs/cart/state/src/reducers/cart-shipping-information/cart-shipping-information.reducer.ts
  libs/cart/state/src/reducers/cart-shipping-methods/cart-shipping-methods.reducer.spec.ts
  libs/cart/state/src/reducers/cart-shipping-methods/cart-shipping-methods.reducer.ts
  libs/cart/state/src/reducers/cart/cart.reducer.spec.ts
  libs/cart/state/src/reducers/cart/cart.reducer.ts
  libs/cart/state/src/reducers/loading/cart-loading.type.ts
  libs/cart/state/src/selectors/cart-order/cart-order.selector.spec.ts
  libs/cart/state/src/selectors/cart-order/cart-order.selector.ts
  libs/cart/state/src/selectors/cart/cart.selector.spec.ts
  libs/cart/state/src/selectors/cart/cart.selector.ts
  libs/core/state/src/index.ts
  libs/core/state/src/loading/loading-state.enum.ts
  libs/core/state/src/loading/public_api.ts
  libs/core/state/src/states/loading.ts
  libs/core/state/src/states/mutable-loading.ts
  libs/core/state/src/states/public_api.ts
  libs/core/state/src/states/state.enum.ts
  libs/core/state/src/states/stateable.interface.ts
Due: none

linting
  libs/core/state/src/states/state.enum.ts
Due: none

docs
  libs/core/state/src/states/state.enum.ts
Due: none

linting
  libs/cart/state/src/reducers/cart-coupon/cart-coupon.reducer.spec.ts
Due: none

feat(core, category): introduce DaffSortable for collections of elements (#1325)
  libs/category/src/drivers/magento/transformers/applied-sort-option-transformer.service.spec.ts
  libs/category/src/drivers/magento/transformers/applied-sort-option-transformer.service.ts
  libs/category/src/effects/category-page.effects.spec.ts
  libs/category/src/facades/category-facade.interface.ts
  libs/category/src/facades/category.facade.ts
  libs/category/src/index.ts
  libs/category/src/models/requests/category-request.ts
  libs/category/src/reducers/category/category.reducer.spec.ts
  libs/category/testing/src/helpers/mock-category-facade.ts
  libs/core/state/src/collection/public_api.ts
  libs/core/state/src/collection/sortable.ts
Due: category

feat(contact): add store feature key
  libs/contact/state/src/facades/contact.facade.spec.ts
  libs/contact/state/src/public_api.ts
  libs/contact/state/src/reducers/contact-store-feature-key.ts
  libs/contact/state/src/selectors/contact.selector.spec.ts
  libs/contact/state/src/selectors/contact.selector.ts
Due: none

feat(newsletter): add store feature key
  libs/newsletter/src/facades/newsletter.facade.spec.ts
  libs/newsletter/src/index.ts
  libs/newsletter/src/newsletter.module.ts
  libs/newsletter/src/reducers/newsletter-store-feature-key.ts
  libs/newsletter/src/selectors/newsletter.selector.spec.ts
  libs/newsletter/src/selectors/newsletter.selector.ts
Due: none

feat(paypal): add store feature key
  libs/paypal/src/facades/paypal.facade.spec.ts
  libs/paypal/src/paypal-state.module.ts
  libs/paypal/src/reducers/paypal-store-feature-key.ts
  libs/paypal/src/selectors/paypal.selector.spec.ts
  libs/paypal/src/selectors/paypal.selector.ts
Due: none

fix linting
  libs/newsletter/src/facades/newsletter.facade.spec.ts
  libs/newsletter/src/index.ts
  libs/newsletter/src/newsletter.module.ts
  libs/newsletter/src/selectors/newsletter.selector.spec.ts
  libs/newsletter/src/selectors/newsletter.selector.ts
Due: none

feat(category,demo,product): add product store feature key
  apps/demo/src/app/cart/components/add-to-cart-notification/components/add-to-cart-notification/add-to-cart-notification.component.spec.ts
  libs/category/src/effects/category-page.effects.spec.ts
  libs/category/src/effects/category.effects.spec.ts
  libs/category/src/facades/category.facade.spec.ts
  libs/category/src/selectors/category.selector.spec.ts
  libs/product/state/src/facades/best-sellers/best-sellers.facade.spec.ts
  libs/product/state/src/facades/composite-product/composite-product.facade.spec.ts
  libs/product/state/src/facades/configurable-product/configurable-product.facade.spec.ts
  libs/product/state/src/facades/product-grid/product-grid.facade.spec.ts
  libs/product/state/src/facades/product/product.facade.spec.ts
  libs/product/state/src/product-state.module.ts
  libs/product/state/src/reducers/product-store-feature-key.ts
  libs/product/state/src/reducers/public_api.ts
  libs/product/state/src/resolvers/product-page/product-page.resolver.spec.ts
  libs/product/state/src/selectors/best-sellers/best-sellers.selectors.spec.ts
  libs/product/state/src/selectors/composite-product-entities/composite-product-entities.selectors.spec.ts
  libs/product/state/src/selectors/composite-product/composite-product.selectors.spec.ts
  libs/product/state/src/selectors/configurable-product-entities/configurable-product-entities.selectors.spec.ts
  libs/product/state/src/selectors/configurable-product/configurable-product.selectors.integration.spec.ts
  libs/product/state/src/selectors/configurable-product/configurable-product.selectors.unit.spec.ts
  libs/product/state/src/selectors/product-entities/product-entities.selectors.spec.ts
  libs/product/state/src/selectors/product-feature.selector.ts
  libs/product/state/src/selectors/product-grid/product-grid.selectors.spec.ts
  libs/product/state/src/selectors/product/product.selectors.spec.ts
Due: category

Path conditions:
  category: any of: libs/category/src
  core: any of: libs/core/src
