Repository graycoreio/daffodil: changes, and which Codecov flags are due for each by the changed paths.
All: category, core

codecov.yml:

coverage:
  status:
    project:
      target: 80%
      threshold: 5%
    category:
      flags: category
      target: 85%
    core:
      target: 85%
      flags: core
flags:
  category:  
    paths:
      - libs/category/src
  core:
    paths:
      - libs/core/src

chore(release): 0.4.16
  docs/CHANGELOG.md
  lerna.json
  package-lock.json
  package.json
Due: none

feat(cart): add cart in-memory driver
  libs/cart/testing/src/drivers/in-memory/cart-driver.module.ts
  libs/cart/testing/src/drivers/in-memory/cart/cart.service.spec.ts
  libs/cart/testing/src/drivers/in-memory/cart/cart.service.ts
  libs/cart/testing/src/index.ts
Due: none

feat(cart): add root and cart in-memory backends
  libs/cart/testing/src/in-memory-backend/cart-root.service.integration.spec.ts
  libs/cart/testing/src/in-memory-backend/cart-root.service.ts
  libs/cart/testing/src/in-memory-backend/cart-root.service.unit.spec.ts
  libs/cart/testing/src/in-memory-backend/cart.service.integration.spec.ts
  libs/cart/testing/src/in-memory-backend/cart.service.ts
  libs/cart/testing/src/in-memory-backend/cart.service.unit.spec.ts
  libs/cart/testing/src/in-memory-backend/cart/cart.service.spec.ts
  libs/cart/testing/src/in-memory-backend/cart/cart.service.ts
  libs/cart/testing/src/index.ts
Due: none

test(cart): improve message
  libs/cart/testing/src/drivers/in-memory/cart/cart.service.spec.ts
Due: none

feat(cart): add cart in-memory driver (#645)
  libs/cart/testing/src/drivers/in-memory/cart-driver.module.ts
  libs/cart/testing/src/drivers/in-memory/cart/cart.service.spec.ts
  libs/cart/testing/src/drivers/in-memory/cart/cart.service.ts
  libs/cart/testing/src/in-memory-backend/cart-root.service.integration.spec.ts
  libs/cart/testing/src/in-memory-backend/cart-root.service.ts
  libs/cart/testing/src/in-memory-backend/cart-root.service.unit.spec.ts
  libs/cart/testing/src/in-memory-backend/cart.service.integration.spec.ts
  libs/cart/testing/src/in-memory-backend/cart.service.ts
  libs/cart/testing/src/in-memory-backend/cart.service.unit.spec.ts
  libs/cart/testing/src/in-memory-backend/cart/cart.service.spec.ts
  libs/cart/testing/src/in-memory-backend/cart/cart.service.ts
  libs/cart/testing/src/index.ts
Due: none

feat(cart): add a selector for whether the cart is empty
  libs/cart/src/facades/cart/cart.facade.spec.ts
  libs/cart/src/facades/cart/cart.facade.ts
  libs/cart/src/selectors/cart.selector.spec.ts
  libs/cart/src/selectors/cart.selector.ts
Due: none

feat(core): add error types to enable error mapping in downstream libraries
  libs/core/src/errors/error-map.ts
  libs/core/src/errors/public_api.ts
  libs/core/src/index.ts
Due: core

feat(geography): outline basic driver model and types
  libs/geography/src/drivers/interfaces/geography-service.interface.ts
  libs/geography/src/drivers/public_api.ts
  libs/geography/src/index.ts
  libs/geography/src/models/country.ts
  libs/geography/src/models/subdivision.ts
Due: none

feat(cart): add a selector for whether the cart is empty (#714)
  libs/cart/src/facades/cart/cart.facade.spec.ts
  libs/cart/src/facades/cart/cart.facade.ts
  libs/cart/src/selectors/cart.selector.spec.ts
  libs/cart/src/selectors/cart.selector.ts
Due: none

linting
  libs/core/src/errors/error-map.ts
  libs/core/src/errors/public_api.ts
  libs/core/src/index.ts
Due: core

linting
  libs/geography/src/drivers/interfaces/geography-service.interface.ts
  libs/geography/src/drivers/public_api.ts
  libs/geography/src/index.ts
  libs/geography/src/models/country.ts
  libs/geography/src/models/subdivision.ts
Due: none

linting
  libs/core/src/errors/error-map.ts
Due: core

feat(cart): add cart item in-memory driver
  libs/cart/testing/src/drivers/in-memory/cart-driver.module.ts
  libs/cart/testing/src/drivers/in-memory/cart-item/cart-item.service.spec.ts
  libs/cart/testing/src/drivers/in-memory/cart-item/cart-item.service.ts
  libs/cart/testing/src/index.ts
Due: none

feat(cart): add cart items in-memory backend
  libs/cart/testing/src/in-memory-backend/cart-items/cart-items.service.spec.ts
  libs/cart/testing/src/in-memory-backend/cart-items/cart-items.service.ts
  libs/cart/testing/src/in-memory-backend/cart-root.service.integration.spec.ts
  libs/cart/testing/src/in-memory-backend/cart-root.service.ts
  libs/cart/testing/src/in-memory-backend/cart-root.service.unit.spec.ts
  libs/cart/testing/src/index.ts
Due: none

chore(release): 0.4.17
  docs/CHANGELOG.md
  lerna.json
  package-lock.json
  package.json
Due: none

feat(core): move constructable to its own file
  libs/core/src/constructable/constructable.ts
  libs/core/src/errors/error-map.ts
Due: core

feat(core): move constructable to its own file
  libs/core/src/errors/error-map.ts
Due: core

linting
  libs/core/src/errors/error-map.ts
  libs/core/src/index.ts
Due: core

feat(core): add DaffErrorCodeMap to enable error transformation and mapping (#715)
  libs/core/src/constructable/constructable.ts
  libs/core/src/errors/error-map.ts
  libs/core/src/errors/public_api.ts
  libs/core/src/index.ts
Due: core

pr comments
  libs/geography/src/drivers/interfaces/geography-service.interface.ts
  libs/geography/src/drivers/public_api.ts
  libs/geography/src/models/subdivision.ts
Due: none

linting
  libs/cart/src/drivers/magento/errors/codes.ts
  libs/cart/src/drivers/magento/errors/map.ts
  libs/cart/src/drivers/magento/errors/transform.spec.ts
  libs/cart/src/drivers/magento/errors/transform.ts
  libs/cart/src/errors/not-found.ts
Due: none

feat(cart): add error handling and specific error for cart not found
  libs/cart/src/drivers/magento/cart.service.ts
  libs/cart/src/drivers/magento/errors/codes.ts
  libs/cart/src/drivers/magento/errors/map.ts
  libs/cart/src/drivers/magento/errors/transform.spec.ts
  libs/cart/src/drivers/magento/errors/transform.ts
  libs/cart/src/errors/not-found.ts
Due: none

test(cart): improve tests
  libs/cart/testing/src/drivers/in-memory/cart-item/cart-item.service.spec.ts
  libs/cart/testing/src/in-memory-backend/cart-items/cart-items.service.spec.ts
  libs/cart/testing/src/in-memory-backend/cart-root.service.integration.spec.ts
Due: none

feat(geography): outline basic driver model and types (#716)
  libs/geography/src/drivers/interfaces/geography-service.interface.ts
  libs/geography/src/drivers/public_api.ts
  libs/geography/src/index.ts
  libs/geography/src/models/country.ts
  libs/geography/src/models/subdivision.ts
Due: none

feat(cart): add discounted_row_total to DaffCartItem
  libs/cart/src/models/cart-item.ts
  libs/cart/testing/src/factories/cart-item.factory.spec.ts
  libs/cart/testing/src/factories/cart-item.factory.ts
Due: none

feat(cart): set discounted_row_total in Magento cart item transformer
  libs/cart/src/drivers/magento/transforms/outputs/cart-item.service.spec.ts
  libs/cart/src/drivers/magento/transforms/outputs/cart-item.service.ts
Due: none

feat(cart): add cart item in-memory driver and backend (#718)
  libs/cart/testing/src/drivers/in-memory/cart-driver.module.ts
  libs/cart/testing/src/drivers/in-memory/cart-item/cart-item.service.spec.ts
  libs/cart/testing/src/drivers/in-memory/cart-item/cart-item.service.ts
  libs/cart/testing/src/in-memory-backend/cart-items/cart-items.service.spec.ts
  libs/cart/testing/src/in-memory-backend/cart-items/cart-items.service.ts
  libs/cart/testing/src/in-memory-backend/cart-root.service.integration.spec.ts
  libs/cart/testing/src/in-memory-backend/cart-root.service.ts
  libs/cart/testing/src/in-memory-backend/cart-root.service.unit.spec.ts
  libs/cart/testing/src/index.ts
Due: none

feat(cart): add shipping information in-memory driver
  libs/cart/testing/src/drivers/in-memory/cart-driver.module.ts
  libs/cart/testing/src/drivers/in-memory/cart-shipping-information/cart-shipping-information.service.spec.ts
  libs/cart/testing/src/drivers/in-memory/cart-shipping-information/cart-shipping-information.service.ts
  libs/cart/testing/src/index.ts
Due: none

feat(cart): add billing address in-memory driver
  libs/cart/testing/src/drivers/in-memory/cart-billing-address/cart-billing-address.service.spec.ts
  libs/cart/testing/src/drivers/in-memory/cart-billing-address/cart-billing-address.service.ts
  libs/cart/testing/src/drivers/in-memory/cart-driver.module.ts
  libs/cart/testing/src/index.ts
Due: none

feat(cart): add shipping address in-memory driver
  libs/cart/testing/src/drivers/in-memory/cart-driver.module.ts
  libs/cart/testing/src/drivers/in-memory/cart-shipping-address/cart-shipping-address.service.spec.ts
  libs/cart/testing/src/drivers/in-memory/cart-shipping-address/cart-shipping-address.service.ts
  libs/cart/testing/src/index.ts
Due: none

feat(cart): add payment methods in-memory driver
  libs/cart/testing/src/drivers/in-memory/cart-driver.module.ts
  libs/cart/testing/src/drivers/in-memory/cart-payment-methods/cart-payment-methods.service.spec.ts
  libs/cart/testing/src/drivers/in-memory/cart-payment-methods/cart-payment-methods.service.ts
  libs/cart/testing/src/index.ts
Due: none

feat(cart): add shipping methods in-memory driver
  libs/cart/testing/src/drivers/in-memory/cart-driver.module.ts
  libs/cart/testing/src/drivers/in-memory/cart-shipping-methods/cart-shipping-methods.service.spec.ts
  libs/cart/testing/src/drivers/in-memory/cart-shipping-methods/cart-shipping-methods.service.ts
  libs/cart/testing/src/index.ts
Due: none

feat(cart): add payment in-memory driver
  libs/cart/testing/src/drivers/in-memory/cart-driver.module.ts
  libs/cart/testing/src/drivers/in-memory/cart-payment/cart-payment.service.spec.ts
  libs/cart/testing/src/drivers/in-memory/cart-payment/cart-payment.service.ts
  libs/cart/testing/src/index.ts
Due: none

feat(cart): use partials
  libs/cart/testing/src/drivers/in-memory/cart-shipping-address/cart-shipping-address.service.ts
  libs/cart/testing/src/drivers/in-memory/cart-shipping-information/cart-shipping-information.service.ts
Due: none

feat(cart): use total_discount field instead
  libs/cart/src/drivers/magento/transforms/outputs/cart-item.service.spec.ts
  libs/cart/src/drivers/magento/transforms/outputs/cart-item.service.ts
  libs/cart/src/models/cart-item.ts
  libs/cart/testing/src/factories/cart-item.factory.spec.ts
  libs/cart/testing/src/factories/cart-item.factory.ts
Due: none

feat(cart): add in-memory drivers (#724)
  libs/cart/testing/src/drivers/in-memory/cart-billing-address/cart-billing-address.service.spec.ts
  libs/cart/testing/src/drivers/in-memory/cart-billing-address/cart-billing-address.service.ts
  libs/cart/testing/src/drivers/in-memory/cart-driver.module.ts
  libs/cart/testing/src/drivers/in-memory/cart-payment-methods/cart-payment-methods.service.spec.ts
  libs/cart/testing/src/drivers/in-memory/cart-payment-methods/cart-payment-methods.service.ts
  libs/cart/testing/src/drivers/in-memory/cart-payment/cart-payment.service.spec.ts
  libs/cart/testing/src/drivers/in-memory/cart-payment/cart-payment.service.ts
  libs/cart/testing/src/drivers/in-memory/cart-shipping-address/cart-shipping-address.service.spec.ts
  libs/cart/testing/src/drivers/in-memory/cart-shipping-address/cart-shipping-address.service.ts
  libs/cart/testing/src/drivers/in-memory/cart-shipping-information/cart-shipping-information.service.spec.ts
  libs/cart/testing/src/drivers/in-memory/cart-shipping-information/cart-shipping-information.service.ts
  libs/cart/testing/src/drivers/in-memory/cart-shipping-methods/cart-shipping-methods.service.spec.ts
  libs/cart/testing/src/drivers/in-memory/cart-shipping-methods/cart-shipping-methods.service.ts
  libs/cart/testing/src/index.ts
Due: none

fix(category): allow categories to be sorted passed on platform response
  libs/category/src/selectors/category.selector.spec.ts
  libs/category/src/selectors/category.selector.ts
Due: category

feat(cart): add export for error
  libs/cart/src/index.ts
Due: none

tmp
  libs/cart/src/drivers/magento/errors/transform.spec.ts
  libs/cart/src/drivers/magento/errors/transform.ts
Due: none

fix
  libs/cart/src/drivers/magento/errors/map.ts
  libs/cart/src/drivers/magento/errors/transform.ts
Due: none
